.mainbody {
    text-align: center;
}

.logo {
    margin-top:70px;
    width: 300px;
    height: 110px;
}
.searchbox {
    width: 604px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
    vertical-align: top;
}
.searchbutton {
    height: 40px;
    vertical-align: top;
}